*{
    box-sizing: border-box;
}
@font-face {
    font-family: sidebar;
    src: url('/Fonts/fonts/icomoon.ttf');
}
@font-face {
    font-family: Roboto_regular;
    src: url(/fonts_text/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto_bold;
    src: url(/fonts_text/Roboto-Bold.ttf);
}
body{
    font-family: Roboto_regular, sans-serif;
    font-size: 16px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 25px 50px 25px 50px;
}
.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(400px, 4fr);
    grid-template-rows: minmax(100px, 1fr) minmax(100%, 100%);
}
.sidebar,
.header,
.main{
    border: 2px solid crimson;

}
.sidebar{
    font-family: Roboto_bold;
    grid-area: 1 / 1 / -1 / 2;
    background-color: #1992d4;
    color: white;
    display: grid;
    grid-template-rows: minmax(50px, 10%) minmax(150px, 40%) minmax(75px, 20%);
    grid-template-columns: 1fr;
}

.sidebar p{
    display: flex;
    gap: 15px;
    margin-left: 10px;
    font-size: 1rem;
    align-items: center;
}
.sidebar span:not(.icon-menu){
    font-size: 0.8rem;
}
.sidebar .icon-menu{
    font-size: 2rem;
}


.header{
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}   



.main{
    grid-area: 2 / 2 / -1 / -1;
}