*{
    box-sizing: border-box;
}
@font-face {
    font-family: sidebar;
    src: url('/Fonts/fonts/icomoon.ttf');
}
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 25px 50px 25px 50px;
}
.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(400px, 4fr);
    grid-template-rows: minmax(100px, 1fr) minmax(100%, 100%);
}
.sidebar,
.header,
.main{
    border: 2px solid crimson;

}
.sidebar{
    grid-area: 1 / 1 / -1 / 2;
    background-color: #1992d4;
    color: white;
    display: grid;
    grid-template-rows: minmax(50px, 10%) minmax(150px, 40%) minmax(75px, 20%);
    grid-template-columns: 1fr;
}

.sidebar p{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}


.header{
    grid-area: 1 / 2 / 2 / -1;
}   
.main{
    grid-area: 2 / 2 / -1 / -1;
}