@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t5l0lv');
  src:  url('fonts/icomoon.eot?t5l0lv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t5l0lv') format('truetype'),
    url('fonts/icomoon.woff?t5l0lv') format('woff'),
    url('fonts/icomoon.svg?t5l0lv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-profile:before {
  content: "\e923";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-bell:before {
  content: "\e951";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-question:before {
  content: "\ea09";
}
